# 1. Ignore all
/*

# 2. Allow hybris
!/hybris/

hybris/bin/modules/
hybris/bin/platform/

hybris/roles/
hybris/temp/
hybris/log/
hybris/data/

# 3. Allow to custom
!/installer/
/installer/*
!/installer/recipes/
/installer/recipes/*
!/installer/recipes/custom/

# Allow .gitignore
!/.gitignore